.container {
    text-align: center;
   box-shadow: 0 -2px 5px rgba(81, 81, 81, 0.162);
   width: 100%;
    background-color: white;
    padding: 0.8rem;
    bottom: 0;
    
  }
  

.home{

  background: rgba(69, 69, 69, 0.4); 
  backdrop-filter: blur(2px);  
  margin-top: 10px;
  bottom: 0;    
       

}

.home p{
      color:white;
    }

.home a {
  color: rgba(255, 255, 255, 0.598);
  font-size: smaller;
  text-decoration: none;
}


.other{  
   z-index: 30;    
}

.other  p{  
        color: #7D5428;
    }

.other a{  
        color: #7d54287b;
        font-size: smaller;
        text-decoration: none;
    }
@media (min-width:611px) {
  .home{
      position: fixed;

  }
}